.App {
  text-align: center;
  background-color: #F6F6F4;
  min-height: 100vh;
  margin: 40px;
  
}
.body{
  background-color: #F6F6F4;
}

#panel{
  padding-top: 30px;
  background-color: #a3aff5;
  
}
#entire-table{
  
  min-height: 80vh;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.edit-to-do{
  align-content: center;
}
#info{
  background-color: #F6F6F4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0.9em;
  padding: 0.5em;
}
#info-head{
  color:#F6F6F4;
  font-weight: bolder;
  font-size: 1.3em;
}
.info-subHead{
  color:#331b52;
  font-weight: bold;
}
p{
  color:#3a3a3b;
  font-weight:400;
}
#data-tbl{
  padding: 1em;
}
#logo{
  margin:1em;
  max-width: 15%;
}



